@import "tailwindcss";

@theme {
  /* Breakpoint Screen end */

  /* Color */
  --color-primary: #faf7f5;
  --color-accent-input: #f1f1f1;
  --color-secondary: #64903a;
  --color-accent-primary: #334b35;
  --color-accent-secondary: #1ba9e3;
  --color-danger: #e92028;
  /* Color end */

  /* Fonts */
  --font-livvic: "Livvic", sans-serif;
  --font-jhonstown: "Johnstown";
  /* Fonts end */
}

/* html {
  font-family: var(--font-livvic);
} 
*/

.livvic-thin {
  font-family: "Livvic", serif;
  font-weight: 100;
  font-style: normal;
}

.livvic-extralight {
  font-family: "Livvic", serif;
  font-weight: 200;
  font-style: normal;
}

.livvic-light {
  font-family: "Livvic", serif;
  font-weight: 300;
  font-style: normal;
}

.livvic-regular {
  font-family: "Livvic", serif;
  font-weight: 400;
  font-style: normal;
}

.livvic-medium {
  font-family: "Livvic", serif;
  font-weight: 500;
  font-style: normal;
}

.livvic-semibold {
  font-family: "Livvic", serif;
  font-weight: 600;
  font-style: normal;
}

.livvic-bold {
  font-family: "Livvic", serif;
  font-weight: 700;
  font-style: normal;
}

.livvic-black {
  font-family: "Livvic", serif;
  font-weight: 900;
  font-style: normal;
}

.livvic-thin-italic {
  font-family: "Livvic", serif;
  font-weight: 100;
  font-style: italic;
}

.livvic-extralight-italic {
  font-family: "Livvic", serif;
  font-weight: 200;
  font-style: italic;
}

.livvic-light-italic {
  font-family: "Livvic", serif;
  font-weight: 300;
  font-style: italic;
}

.livvic-regular-italic {
  font-family: "Livvic", serif;
  font-weight: 400;
  font-style: italic;
}

.livvic-medium-italic {
  font-family: "Livvic", serif;
  font-weight: 500;
  font-style: italic;
}

.livvic-semibold-italic {
  font-family: "Livvic", serif;
  font-weight: 600;
  font-style: italic;
}

.livvic-bold-italic {
  font-family: "Livvic", serif;
  font-weight: 700;
  font-style: italic;
}

.livvic-black-italic {
  font-family: "Livvic", serif;
  font-weight: 900;
  font-style: italic;
}

/* @font-face {
  font-family: "kailsix-regular";
  src: url("../Font/Kailsix/kailsix-regular.otf") format("opentype");
} */

@font-face {
  font-family: "Johnstown";
  src: url("../fonts/Johnstown/JohnstownDemo.ttf") format("truetype");
}

/* @font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/fonts/livic/Livvic-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/livic/Livvic-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400; 
  font-display: swap;
  src: url("/fonts/livic/Livvic-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
 font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/livic/Livvic-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700; 
  font-display: swap;
  src: url("/fonts/livic/Livvic-Bold.ttf") format("truetype");
} */

/* section {
  @apply my-24;
} */

@layer base {
  .container {
    @apply mx-auto px-4 lg:px-24;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-primary m-0 p-0;
  }
}

@layer utilities {
  body {
    @apply font-livvic;
  }
}

/* Home Section Banner  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  @apply flex flex-col  justify-center;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-pagination-bullet {
  @apply !p-2 border-[1px] border-white outline-none;
}

.swiper-pagination-bullet-active {
  @apply !bg-secondary;
}
/* Home Section Banner End */

.slider {
  width: 100%;
  height: var(--slider-height);
  overflow: hidden;
  /* mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent); */
}

.slider .list {
  display: flex;
  width: 100%;
  min-width: calc(var(--slider-width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--slider-width);
  height: var(--slider-height);
  position: absolute;
  left: 100%;
  transition: filter 0.5s;
  animation-delay: calc(
    (15s / var(--quantity)) * (var(--position) - 1) - 15s
  ) !important;
}

/* Animasi default dari kiri ke kanan */

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--slider-width) * -1);
  }
}

/* Animasi dari kanan ke kiri */
@keyframes reversePlay {
  from {
    left: calc(var(--slider-width) * -1);
  }
  to {
    left: 100%;
  }
}

/* Efek saat hover */
.slider:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .item:hover {
  filter: grayscale(0);
}

/* Slider ganjil bergerak kiri ke kanan */
.slider:nth-child(odd) .item {
  animation: autoRun 15s linear infinite;
}

/* Slider genap bergerak kanan ke kiri */
.slider:nth-child(even) .item {
  animation: reversePlay 15s linear infinite;
}

@media (max-width: 640px) {
  :root {
    --slider-width: 190px;
    --slider-height: 150px;
  }
}

@media (min-width: 768px) {
  :root {
    --slider-width: 300px;
    --slider-height: 230px;
  }
}

@media (min-width: 1024px) {
  :root {
    --slider-width: 400px;
    --slider-height: 310px;
  }
}

@media (min-width: 1280px) {
  :root {
    --slider-width: 280px;
    --slider-height: 220px;
  }
}

@media (min-width: 1536px) {
  :root {
    --slider-width: 400px;
    --slider-height: 320px;
  }
}

/* Slider End */
/* Quick Link  */
@keyframes wiggle {
  0%,
  100% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
}

.animate-wiggle {
  animation: wiggle 2s ease-in-out infinite;
}

.quick-link {
  @apply w-16 h-16 flex items-center justify-center;
  @apply transition-all duration-300 ease-out transform;
}

#quickLinks {
  @apply transition-all ease-in-out duration-500;
}

#quickLinks.active {
  max-height: 500px; /* Adjust based on your content height */
  opacity: 1;
}
/* Quick Link end */

/* Custom pagination styling */

.mod-7-swiper .swiper-slide {
  margin-top: 20px; /* Jarak atas */
  margin-bottom: 20px; /* Jarak bawah */
  height: calc(100% - 40px); /* Sesuaikan tinggi untuk kompensasi margin */
}

.custom-pagination .swiper-pagination-bullet {
  @apply w-8 h-8 flex items-center justify-center rounded-full 
           border-2 border-accent-primary bg-transparent text-accent-primary 
           cursor-pointer transition-colors;
}

.custom-pagination .swiper-pagination-bullet-active {
  @apply bg-accent-primary text-white;
}

.parallax-image {
  transform: translateZ(0);
  will-change: transform;
  transition: transform 0.3s ease-out;
}

.swiper-slide-active .overlay-content {
  @apply w-full lg:opacity-0  lg:group-hover:opacity-100 opacity-100 transition-all ease-in-out duration-500 gap-6 p-6 bg-black/40 h-full flex flex-col absolute font-normal text-justify md:text-base text-sm z-20 line-clamp-4;
}

/* Slide yang tidak aktif */
.swiper-slide:not(.swiper-slide-active) .card-blog {
  @apply md:opacity-100 opacity-0;
}

/* Slide aktif */
.swiper-slide-active .card-blog {
  @apply opacity-100;
}

/* Style default: link belum diklik */
/* Tautan non-aktif */
.wrap-quick-link a span:last-child {
  @apply font-light text-accent-primary;
}

/* Tautan aktif */
.wrap-quick-link a.active span:last-child {
  @apply text-secondary font-semibold;
}
